
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/okimg.webp);
    background-position: -10vw;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;

}

.principal{
    position: relative;
    right: -20%;
    top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.presentacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-family: cursive;
}

.utilidades_div{
    position: relative;
    top: 30px;
    height: 40vh;
    width: 45vw;
    background-color: rgba(0, 255, 255, 0.359);
    backdrop-filter: blur(10px);
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.177);
}
.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.opciones h3{
    font-size: 25px;
}
.funcionalidad_select{
    margin-top: 5px;
    width: max-content;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(64, 63, 93, 0.603);
    top: 0;
    transition: top 500ms cubic-bezier(0.176, 0.882, 0.320, 1.275);


}

.opciones-activa h3{
    display: none;
}
.funcionalidad_select-activa{
    position: absolute;
    top: 35vh;
    width: max-content;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 1px rgba(64, 63, 93, 0.603);
    outline: none;
    border: none;
}

.buscarCI{
    display: none;
}
.buscarCI-active{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
}
.input_CI{
    border: none;
    border-radius: 8px;
    height: 25px;
    padding: 10px;
}
.input_CI::placeholder{
    position: relative;
    left: 20%;
}
.button_input{
    font-size: 10px;
    margin-top: 5px;
    background: none;
    border-radius: 8px;
    border: solid 2px rgba(0, 44, 139, 0.993);
    padding: 5px;
    width: max-content;
}
.button_input:hover{
    background-color: aliceblue;
    /* transform: scale(1.01); */
    box-shadow: 0px 0px 5px 1px rgba(64, 63, 93, 0.603);

}

/*ELEMENTOS DEL BACKEND AGREGADOS*/

.txs{
    display: none;
    justify-self: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    width: max-content;
    border-radius: 20px;
}
.txs h3{
    font-size: 20px;
    display: block;
    width: 300px;
    margin-bottom: 10px;
    font-weight: 100;
}
.pxm{
    background-color: #fff;
    padding: 20px;
    display: none;
    text-align: center;
    border-radius: 20px;
}
.pxm li{
    list-style: none;
    font-size: 18px;
}

.pxs{
    width: 40vw;
    height: 100px;
    flex-wrap: wrap;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: none;
}
.pxs ul{
    width: max-content;
    margin-right: 15px;
    border: dashed 1px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
}
.pxs li{
    list-style: none;
    padding: 4px;

}
.pxs h4{
    padding: 6px;
}

.pxe{
    width: 40vw;
    height: 20vh;
    overflow: hidden;
    overflow-y: scroll;
    display: none;
    background-color: #fff;
    border-radius: 20px;
}
.pxe ul{
    padding: 20px;
}

.pxci{
    background-color: #fff;
    position: absolute;
    top: 65%;
    border-radius: 20px;

}
.pxci h3{
    display: block;
    font-size: 18px;
    padding: 10px;
}